BODY
{
    font-family: Arial;
    font-size: 13px;
}
H1
{
    text-align:center;
}
.Grid
{
    border-collapse: collapse;
    cursor: default;
    margin: auto;
}
.Grid > TBODY > TR:hover
{
    background-color: #7AC5CD;
}

.Grid > TBODY > TR > TD
{
    border: solid 1px Gray;
    padding: 4px 8px;
}
.Grid > THEAD > TR > TH
{
    border: solid 1px Gray;
    background-color: #DDDDDD;
    padding: 4px 8px;
}
